<div class="card" style="width: 33rem">
  <div class="row p-2 g-0 align-items-center">
    <div class="col-md-4">
      <img
        [src]="data.imagePath"
        class="img-fluid rounded-start"
        alt="avatar"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">{{ data.userName }}</h4>
        <p class="card-text">User name: {{ data.userName }}</p>
        <p class="card-text">Email: {{ data.email }}</p>
        <p class="card-text">Phone: {{ data.phoneNumber }}</p>
        <p class="card-text">Country: {{ data.country }}</p>
        <p class="card-text">
          Creation date: {{ data.creationDate | date : "dd/MM/yyyy HH:mm a" }}
        </p>
        <p class="card-text">
          Modification date:
          {{ data.modificationDate | date : "dd/MM/yyyy HH:mm a" }}
        </p>

        <button class="btn btn-secondary" (click)="onNoClick()">Close</button>
      </div>
    </div>
  </div>
</div>
