<div class="card" style="width: 33rem">
  <div class="row p-2 g-0 align-items-center">
    <h3 class="mt-2 card-title text-center">#{{ data.id }}</h3>
    <hr class="m-0" />
    <div class="col-md-4 text-center">
      <img
        [src]="data.imagePath"
        class="img-fluid rounded-start"
        alt="avatar"
      />
    </div>
    <div class="col-md-8 text-start">
      <div class="card-body">
        <p class="card-text">User name: {{ data.userName }}</p>
        <p class="card-text">Email: {{ data.email }}</p>
        <p class="card-text">Phone: {{ data.phoneNumber }}</p>
        <p class="card-text">Country: {{ data.country }}</p>
        <p class="card-text">
          Creation date: {{ data.creationDate | date : "dd/MM/yyyy HH:mm a" }}
        </p>
        <p class="card-text">
          Modification date:
          {{ data.modificationDate | date : "dd/MM/yyyy HH:mm a" }}
        </p>

        <button class="btn btn-danger" (click)="onNoClick()">Close</button>
      </div>
    </div>
  </div>
</div>
