<h1 mat-dialog-title>
  {{ isReadOnly ? "View Category" : "Add/Edit Category" }}
</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Category Name</mat-label>
    <input
      [readonly]="isReadOnly"
      required
      #categoryName="ngModel"
      matInput
      [(ngModel)]="data.name"
      [disabled]="isReadOnly"
    />
    <mat-error *ngIf="categoryName.invalid && categoryName.touched">
      <small>Category name is required.</small>
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-button (click)="onNoClick()">Close</button>
  <button
    mat-button
    [mat-dialog-close]="data"
    [disabled]="!isReadOnly && categoryName.invalid"
    *ngIf="!isReadOnly"
  >
    Save
  </button>
</div>
