::ng-deep
  .mat-mdc-dialog-container.mdc-dialog.cdk-dialog-container.mdc-dialog--open {
  width: 100%;
  text-align: center;
  height: fit-content;
}
.mdc-dialog__title::before {
  height: none !important;
}
