<section *ngIf="!loading" class="mt-5">
  <div
    *ngIf="favResData.length > 0; else noData"
    class="container d-flex justify-content-evenly flex-wrap row-gap-4"
  >
    <mat-card
      *ngFor="let fav of favResData"
      class="example-card justify-content-between align-items-center"
      appearance="outlined"
    >
      <img
        class="my-4"
        mat-card-image
        [src]="
          fav.recipe.imagePath
            ? imagePath + fav.recipe.imagePath
            : 'assets/img/dummy-image.svg'
        "
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content class="text-center">
        <h5>{{ fav.recipe.name }}</h5>
        <p class="mb-4">{{ fav.recipe.description }}</p>
      </mat-card-content>
      <mat-card-footer>
        <button
          title="Remove Favorite"
          (click)="removeFavorite(fav.id)"
          style="border: 1px solid black; background-color: aliceblue"
          mat-button
        >
          <mat-icon class="text-success">favorite</mat-icon>
        </button>
      </mat-card-footer>
    </mat-card>
  </div>
</section>
<ng-template #noData>
  <div class="text-center p-0 pb-2 pt-5">
    <img src="assets/img/no-data.svg" alt="No Data" />
    <p class="text-center p-3">No Data!</p>
  </div>
</ng-template>
<div *ngIf="loading" class="loader-container">
  <mat-progress-spinner mode="indeterminate" color="primary" diameter="50">
    <p class="loading-text">Loading data, please wait...</p>
  </mat-progress-spinner>
</div>
