.example-card {
  max-width: 300px;
  min-width: 300px;
}

::ng-deep mat-icon {
  margin: 0 !important;
}
mat-card {
  position: relative;
  button {
    position: absolute;
    top: 15px;
    right: 22px;
  }
  img {
    width: 100px;
  }
}
