<div class="fluid-container w-100 h-100 center-div">
  <div class="overlay"></div>
  <div class="col-md-9 radius-16">
    <div class="register-form center-div">
      <form class="form d-flex" (ngSubmit)="onRegister()">
        <div class="logo text-center">
          <img src="assets/img/logo.svg" alt="logo" />
        </div>
        <div class="text-container">
          <h3 class="auth-header">Register</h3>
          <p class="auth-paragraph">Welcome Back! Please enter your details</p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form__group">
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa-solid fa-user"></i
                ></span>

                <input
                  type="text"
                  class="form-control"
                  placeholder="Username"
                  aria-label="username"
                  aria-describedby="basic-addon1"
                />
              </div>
              <!-- <div
                  *ngIf="
                    registerForm.get('email')?.invalid &&
                    registerForm.get('email')?.touched
                  "
                  class="error-text"
                >
                  <small *ngIf="registerForm.get('email')?.hasError('required')"
                    >Email is required.</small
                  >
                  <small *ngIf="registerForm.get('email')?.hasError('email')"
                    >Email must be in email-format .</small
                  > 
                </div> -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="form__group">
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa-solid fa-envelope"></i>
                </span>

                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter your E-mail"
                  aria-label="email"
                  aria-describedby="basic-addon1"
                />
              </div>
              <!-- <div
                      *ngIf="
                        registerForm.get('email')?.invalid &&
                        registerForm.get('email')?.touched
                      "
                      class="error-text"
                    >
                      <small *ngIf="registerForm.get('email')?.hasError('required')"
                        >Email is required.</small
                      >
                      <small *ngIf="registerForm.get('email')?.hasError('email')"
                        >Email must be in email-format .</small
                      > 
                    </div> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form__group">
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa-solid fa-earth-americas"></i
                ></span>

                <input
                  type="text"
                  class="form-control"
                  placeholder="Country"
                  aria-label="country"
                  aria-describedby="basic-addon1"
                />
              </div>
              <!-- <div
                    *ngIf="
                      registerForm.get('email')?.invalid &&
                      registerForm.get('email')?.touched
                    "
                    class="error-text"
                  >
                    <small *ngIf="registerForm.get('email')?.hasError('required')"
                      >Email is required.</small
                    >
                    <small *ngIf="registerForm.get('email')?.hasError('email')"
                      >Email must be in email-format .</small
                    > 
                  </div> -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="form__group">
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa-solid fa-mobile-screen-button"></i
                ></span>

                <input
                  type="text"
                  class="form-control"
                  placeholder="Phone Number"
                  aria-label="phoneNumber"
                  aria-describedby="basic-addon1"
                />
              </div>
              <!-- <div
                      *ngIf="
                        registerForm.get('email')?.invalid &&
                        registerForm.get('email')?.touched
                      "
                      class="error-text"
                    >
                      <small *ngIf="registerForm.get('email')?.hasError('required')"
                        >Email is required.</small
                      >
                      <small *ngIf="registerForm.get('email')?.hasError('email')"
                        >Email must be in email-format .</small
                      > 
                    </div> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form__group">
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa-solid fa-lock"></i>
                </span>
                <input
                  class="form-control password"
                  placeholder="Password"
                  aria-label="password"
                  aria-describedby="basic-addon1"
                  type="password"
                />
                <span class="eye-icon"> <i class="fa-solid fa-eye"></i> </span>
              </div>
              <!-- <div
                        *ngIf="
                          registerForm.get('password')?.invalid &&
                          registerForm.get('password')?.touched
                        "
                        class="error-text"
                      >
                        <small *ngIf="registerForm.get('password')?.hasError('required')"
                          >Password is required.</small
                        >
                        <small *ngIf="registerForm.get('password')?.hasError('pattern')"
                          >Password must be stronger.</small
                        >
                      </div> -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="form__group">
              <div class="input-group">
                <span class="input-group-text"
                  ><i class="fa-solid fa-lock"></i>
                </span>
                <input
                  class="form-control password"
                  placeholder="Confirm Password"
                  aria-label="confirmPassword"
                  aria-describedby="basic-addon1"
                  type="password"
                />
                <span class="eye-icon"> <i class="fa-solid fa-eye"></i> </span>
              </div>
              <!-- <div
                      *ngIf="
                        registerForm.get('password')?.invalid &&
                        registerForm.get('password')?.touched
                      "
                      class="error-text"
                    >
                      <small *ngIf="registerForm.get('password')?.hasError('required')"
                        >Password is required.</small
                      >
                      <small *ngIf="registerForm.get('password')?.hasError('pattern')"
                        >Password must be stronger.</small
                      >
                    </div> -->
            </div>
          </div>
        </div>

        <div class="other-data mb-1 d-flex justify-content-end">
          <a
            routerLink="/auth/login"
            class="text-decoration-none green-text"
            href="#"
            >Login now?</a
          >
        </div>
        <div class="col-md-5 mb-4 m-auto">
          <button class="w-100 light-green-btn" type="submit">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
