<div class="container-fluid w-100 center-div">
  <div class="overlay"></div>
  <div class="col-md-9 radius-16">
    <div class="register-form center-div">
      <form
        class="form d-flex"
        [formGroup]="registerForm"
        (ngSubmit)="onRegister(registerForm)"
      >
        <div class="logo text-center">
          <img src="assets/img/logo.svg" alt="logo" />
        </div>
        <div class="text-container">
          <h3 class="auth-header">Register</h3>
          <p class="auth-paragraph">Welcome Back! Please enter your details</p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form__group">
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa-solid fa-user"></i
                ></span>

                <input
                  type="text"
                  class="form-control"
                  placeholder="Username"
                  aria-label="username"
                  formControlName="userName"
                  aria-describedby="basic-addon1"
                />
              </div>
              <div
                *ngIf="
                  registerForm.get('userName')?.invalid &&
                  registerForm.get('userName')?.touched
                "
                class="error-text"
              >
                <small
                  *ngIf="registerForm.get('userName')?.hasError('required')"
                  >Username is required.</small
                >
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form__group">
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa-solid fa-envelope"></i>
                </span>

                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter your E-mail"
                  aria-label="email"
                  formControlName="email"
                  aria-describedby="basic-addon1"
                />
              </div>
              <div
                *ngIf="
                  registerForm.get('email')?.invalid &&
                  registerForm.get('email')?.touched
                "
                class="error-text"
              >
                <small *ngIf="registerForm.get('email')?.hasError('required')"
                  >Email is required.</small
                >
                <small *ngIf="registerForm.get('email')?.hasError('email')"
                  >Email must be in email-format .</small
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form__group">
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa-solid fa-earth-americas"></i
                ></span>

                <input
                  type="text"
                  class="form-control"
                  placeholder="Country"
                  formControlName="country"
                  aria-label="country"
                  aria-describedby="basic-addon1"
                />
              </div>
              <div
                *ngIf="
                  registerForm.get('country')?.invalid &&
                  registerForm.get('country')?.touched
                "
                class="error-text"
              >
                <small *ngIf="registerForm.get('country')?.hasError('required')"
                  >Country is required.</small
                >
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form__group">
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa-solid fa-mobile-screen-button"></i
                ></span>

                <input
                  type="text"
                  class="form-control"
                  placeholder="Phone Number"
                  formControlName="phoneNumber"
                  aria-label="phoneNumber"
                  aria-describedby="basic-addon1"
                />
              </div>
              <div
                *ngIf="
                  registerForm.get('phoneNumber')?.invalid &&
                  registerForm.get('phoneNumber')?.touched
                "
                class="error-text"
              >
                <small
                  *ngIf="registerForm.get('phoneNumber')?.hasError('required')"
                  >Phone Number is required.</small
                >
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form__group">
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa-solid fa-lock"></i>
                </span>
                <input
                  class="form-control password"
                  placeholder="Password"
                  aria-label="password"
                  formControlName="password"
                  aria-describedby="basic-addon1"
                  [type]="hidePassword ? 'password' : 'text'"
                />
                <span class="eye-icon">
                  <i
                    class="fa-solid"
                    (click)="togglePasswordVisibility()"
                    [class]="hidePassword ? 'fa-eye-slash' : 'fa-eye'"
                  ></i>
                </span>
              </div>
              <div
                *ngIf="
                  registerForm.get('password')?.invalid &&
                  registerForm.get('password')?.touched
                "
                class="error-text"
              >
                <small
                  *ngIf="registerForm.get('password')?.hasError('required')"
                  >Password is required.</small
                >
                <small *ngIf="registerForm.get('password')?.hasError('pattern')"
                  >Password must contain capital letters, small letters, numbers
                  and special characters.</small
                >
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form__group">
              <div class="input-group">
                <span class="input-group-text"
                  ><i class="fa-solid fa-lock"></i>
                </span>
                <input
                  class="form-control password"
                  placeholder="Confirm Password"
                  aria-label="confirmPassword"
                  formControlName="confirmPassword"
                  aria-describedby="basic-addon1"
                  [type]="hideConfirmPassword ? 'password' : 'text'"
                />
                <span class="eye-icon">
                  <i
                    class="fa-solid"
                    (click)="hideConfirmPassword = !hideConfirmPassword"
                    [ngClass]="hideConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
                  ></i>
                </span>
              </div>
              <div
                *ngIf="
                  registerForm.get('confirmPassword')?.invalid &&
                  registerForm.get('confirmPassword')?.touched
                "
                class="error-text"
              >
                <small
                  *ngIf="
                    registerForm.get('confirmPassword')?.hasError('required')
                  "
                  >Confirm Password is required.</small
                >
                <small
                  *ngIf="
                    registerForm.get('confirmPassword')?.hasError('pattern')
                  "
                  >Confirm Password must be stronger.</small
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-6">
            <ngx-dropzone
              class="dropzone-container"
              (change)="onSelect($event)"
            >
              <ngx-dropzone-label
                >Drop Photo <i class="fa-solid fa-cloud-upload"></i
              ></ngx-dropzone-label>
              <ngx-dropzone-image-preview
                ngProjectAs="ngx-dropzone-preview"
                *ngFor="let f of files"
                [file]="f"
                class="dropzone-preview"
                [removable]="true"
                (removed)="onRemove(f)"
              >
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
          </div>
          <div class="col-md-6 text-end align-self-center">
            <div class="other-data">
              <a
                routerLink="/auth/login"
                class="text-decoration-none green-text"
                >Login now?</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-7 m-auto">
          <button class="w-100 light-green-btn" type="submit">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
