<section class="container-fluid">
  <div class="row radius-16 first px-5 my-4">
    <div class="col-md-12 d-flex justify-content-between align-items-center">
      <div class="col-md-6 text-containter">
        <h1>Users <span class="animated-text">item!</span></h1>
        <p>
          You can now add your items that any user can order it from the
          Application and you can edit
        </p>
      </div>
      <div class="image-container">
        <img src="assets/img/eating2.svg" alt="" />
      </div>
    </div>
  </div>

  <div class="row second d-flex justify-content-between">
    <div class="col-md-6 text-containter">
      <h3>Users table details</h3>
      <p>You can check all details</p>
    </div>
    <div class="col-md-3 text-end">
      <button type="button" class="light-green-btn" routerLink="create-admin">
        Add new admin
      </button>
    </div>
  </div>

  <div class="row third">
    <div class="my-3 mx-auto d-flex column-gap-2">
      <div class="col-md-2">
        <mat-form-field class="w-100">
          <mat-label>Search by</mat-label>
          <mat-select
            [(ngModel)]="searchBy"
            (selectionChange)="updateSearchPlaceholder()"
          >
            <mat-option value="userName">Name </mat-option>
            <mat-option value="email">Email </mat-option>
            <mat-option value="country">Country </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100 example-full-width">
          <mat-icon matPrefix>{{ searchIcon }}</mat-icon>
          <mat-label>{{ searchLabel }}</mat-label>
          <input
            [(ngModel)]="searchVal"
            (keydown.enter)="getUsers()"
            matInput
            [placeholder]="searchPlaceholder"
            name="search"
          />
        </mat-form-field>
      </div>

      <div class="col-md-2">
        <mat-form-field class="w-100">
          <mat-label>Role</mat-label>
          <mat-select [(ngModel)]="roleId" (selectionChange)="getUsers()">
            <mat-option [value]="roleId">All</mat-option>
            <mat-option [value]="1">Super admin</mat-option>
            <mat-option [value]="2">User System</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-1">
        <button class="w-100 btn btn-outline-secondary" (click)="clearFilter()">
          Clear filter
        </button>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th style="min-width: 8rem !important">User name</th>
          <th>Image</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Country</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-template #noData>
          <tr>
            <td colspan="8" class="text-center p-0 pb-2 pt-5">
              <img src="assets/img/no-data.svg" alt="No Data" />
            </td>
          </tr>
          <tr>
            <td colspan="8" class="text-center p-3">No Data!</td>
          </tr>
        </ng-template>
        <ng-container *ngIf="listData.length > 0; else noData">
          <tr
            *ngFor="let user of listData; let isEven = even"
            [class]="isEven ? 'bg-white' : 'bg-light'"
          >
            <td>{{ user.userName }}</td>
            <td>
              <img
                width="50px"
                height="50px"
                style="border-radius: 50%"
                [src]="
                  user.imagePath
                    ? imagePath + user.imagePath
                    : 'assets/img/default-avatar.avif'
                "
                alt="img"
              />
            </td>
            <td class="text-truncate">
              {{ user.email }}
            </td>
            <td>{{ user.phoneNumber }}</td>
            <td>{{ user.country }}</td>
            <td>{{ user.group.name }}</td>
            <td>
              <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu"
              >
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button (click)="viewUser(user)" mat-menu-item>
                  <mat-icon class="text-success">visibility</mat-icon>
                  <span class="text-success">View</span>
                </button>

                <button
                  (click)="deleteUser(user)"
                  class="text-danger"
                  mat-menu-item
                >
                  <mat-icon class="text-danger">delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <mat-paginator
      [length]="tableRes?.totalNumberOfRecords"
      [pageSize]="pageSize"
      [pageIndex]="pageNumber"
      (page)="handlePageEvent($event)"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</section>
