@import "../../../assets/sass/components/button";
@import "../../../assets/sass/abstract/variables";
@import "../../../assets/sass/base/utilities";
@import "../../../assets/sass/abstract/mixins";
@import "../../../assets/sass/base/typography";
@import "../../../assets/sass/components/form";
.container-fluid {
  .col-md-12 {
    height: 85%;
    background-color: $color-white;
    .login-form {
      height: 100%;
      form {
        height: 100%;
        row-gap: 0;
        button {
          height: 2.5rem;
        }
      }
    }
  }
}
.auth-header {
  font-weight: 500;
  font-size: 22px;
  margin: 0;
}
.auth-paragraph {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}
