<div class="container-fluid w-100 h-100 center-div">
  <div class="overlay"></div>
  <div class="col-md-12radius-16">
    <div class="login-form center-div">
      <form
        class="form d-flex justify-content-around"
        [formGroup]="changePasswordForm"
        (ngSubmit)="onSubmit(changePasswordForm)"
      >
        <div class="logo text-center">
          <img src="assets/img/logo.svg" alt="logo" />
        </div>
        <div class="text-container">
          <h3 class="auth-header">Change your password</h3>
          <p class="auth-paragraph">Please enter your details below</p>
        </div>
        <div class="form__group">
          <div class="input-group">
            <span class="input-group-text">
              <img src="assets/img/lock.svg" alt="oldPassword icon"
            /></span>

            <input
              class="form-control"
              placeholder="Enter your old Password *"
              formControlName="oldPassword"
              [type]="oldPasswordVisible ? 'text' : 'password'"
              aria-label="oldPassword"
              aria-describedby="basic-addon1"
            />
            <span class="eye-icon" (click)="togglePasswordVisibility()">
              <i
                class="fa-solid"
                [class]="!oldPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"
              ></i>
            </span>
          </div>
          <div
            *ngIf="
              changePasswordForm.get('oldPassword')?.invalid &&
              changePasswordForm.get('oldPassword')?.touched
            "
            class="error-text"
          >
            <small
              *ngIf="
                changePasswordForm.get('oldPassword')?.hasError('required')
              "
              >Old password is required.</small
            >
            <small
              *ngIf="changePasswordForm.get('oldPassword')?.hasError('pattern')"
              >Old password is wrong .</small
            >
          </div>
        </div>

        <div class="form__group">
          <div class="input-group">
            <span class="input-group-text"
              ><img src="assets/img/lock.svg" alt="password icon" />
            </span>
            <input
              [type]="hideNewPassword ? 'text' : 'password'"
              class="form-control password"
              placeholder="Enter your new Password *"
              aria-label="newPassword"
              formControlName="newPassword"
              aria-describedby="basic-addon1"
            />
            <span class="eye-icon" (click)="hideNewPassword = !hideNewPassword">
              <i
                class="fa-solid"
                [class]="!hideNewPassword ? 'fa-eye-slash' : 'fa-eye'"
              ></i>
            </span>
          </div>
          <div
            *ngIf="
              changePasswordForm.get('newPassword')?.invalid &&
              changePasswordForm.get('newPassword')?.touched
            "
            class="error-text"
          >
            <small
              *ngIf="
                changePasswordForm.get('newPassword')?.hasError('required')
              "
              >Password is required.</small
            >
            <small
              *ngIf="changePasswordForm.get('newPassword')?.hasError('pattern')"
              >Password must be stronger.</small
            >
          </div>
        </div>
        <div class="form__group">
          <div class="input-group">
            <span class="input-group-text"
              ><img src="assets/img/lock.svg" alt="password icon" />
            </span>
            <input
              [type]="hideConfirmPassword ? 'text' : 'password'"
              class="form-control password"
              placeholder="Enter your confirm Password *"
              aria-label="confirmNewPassword"
              formControlName="confirmNewPassword"
              aria-describedby="basic-addon1"
            />
            <span
              class="eye-icon"
              (click)="hideConfirmPassword = !hideConfirmPassword"
            >
              <i
                class="fa-solid"
                [class]="!hideConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
              ></i>
            </span>
          </div>
          <div
            *ngIf="
              changePasswordForm.get('confirmNewPassword')?.invalid &&
              changePasswordForm.get('confirmNewPassword')?.touched
            "
            class="error-text"
          >
            <small
              *ngIf="
                changePasswordForm
                  .get('confirmNewPassword')
                  ?.hasError('required')
              "
              >Password is required.</small
            >
            <small
              *ngIf="
                changePasswordForm
                  .get('confirmNewPassword')
                  ?.hasError('pattern')
              "
              >Password must be stronger.</small
            >
          </div>
        </div>
        <button
          class="w-100 light-green-btn"
          [disabled]="changePasswordForm.invalid"
          type="submit"
        >
          Change password
        </button>
      </form>
    </div>
  </div>
</div>
