@import "../../assets/sass/components/button";
@import "../../assets/sass/abstract/variables";
@import "../../assets/sass/base/utilities";
@import "../../assets/sass/abstract/mixins";
@import "../../assets/sass/base/typography";
@import "../../assets/sass/components/form";
.fluid-container {
  @include bd-overlay;
  .col-md-6 {
    height: 70%;
    background-color: $color-white;
    .login-form {
      height: 100%;
      form {
        height: 100%;
      }
    }
  }
}
