<div class="fluid-container w-100 h-100 center-div">
  <div class="overlay"></div>
  <div class="col-md-8 radius-16">
    <div class="login-form center-div">
      <form
        class="form d-flex"
        [formGroup]="loginForm"
        (ngSubmit)="onLogin(loginForm)"
      >
        <div class="logo text-center">
          <img src="assets/img/logo.svg" alt="logo" />
        </div>
        <div class="text-container">
          <h3 class="auth-header">Login</h3>
          <p class="auth-paragraph">Welcome Back! Please enter your details</p>
        </div>
        <div class="form__group">
          <div class="input-group">
            <span class="input-group-text">
              <img src="assets/img/mobile.svg" alt="email icon"
            /></span>

            <input
              type="text"
              class="form-control"
              placeholder="Enter your E-mail "
              aria-label="email"
              aria-describedby="basic-addon1"
              formControlName="email"
            />
          </div>
        </div>
        <div class="form__group">
          <div class="input-group">
            <span class="input-group-text"
              ><img src="assets/img/lock.svg" alt="password icon" />
            </span>
            <input
              type="text"
              class="form-control"
              placeholder="Password"
              aria-label="password"
              formControlName="password"
              aria-describedby="basic-addon1"
            />
            <img class="eye-icon" src="assets/img/eye.svg" alt="eye icon" />
          </div>
        </div>
        <div class="other-data mb-4 d-flex justify-content-between">
          <a class="text-decoration-none grey-text" href="#">Register now?</a>
          <a class="text-decoration-none green-text" href="#"
            >Forgot Password?</a
          >
        </div>
        <button class="light-green-btn" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>
