@import "../../../assets/sass/components/animated-box";

section {
  .first {
    height: 15rem;
    .text-containter {
      h1 {
        span {
          font-size: 40px;
          font-weight: lighter !important;
          color: $color-white;
          text-decoration: none;
        }
      }
      p {
        width: 95%;
      }
    }
    .image-container {
      position: absolute;
      animation: float 3s infinite ease-in-out;
      top: 29%;
      right: 6%;
      z-index: 10;
    }
  }
  .circles {
    height: 58%;

    .img2 {
      top: 23%;
      left: 5.5rem;
    }
    .img3 {
      left: 52%;
    }
    .img4 {
      bottom: 3.5rem;
      left: 26%;
    }
    .img5 {
      right: 30%;
      bottom: 25%;
      transform: unset;
    }
    .img8 {
      top: 23%;
      left: 47%;
    }
    .img9 {
      top: -45px;
      left: 26%;
    }
  }
}
