<section class="container-fluid">
  <div class="row radius-16 first px-5 my-4">
    <div class="col-md-12 d-flex justify-content-between align-items-center">
      <div class="col-md-6 text-containter">
        <h1>Favourite Recipes<span class="animated-text"> List!</span></h1>
        <p>
          You can now add your items that any user can order it from the
          Application and you can edit
        </p>
      </div>
      <div class="image-container">
        <img src="assets/img/eating2.svg" alt="" />
      </div>
    </div>
  </div>
  <div class="circles position-absolute">
    <img src="assets/img/1.svg" class="img1" />
    <img src="assets/img/2.svg" class="img2" />
    <img src="assets/img/3.svg" class="img3" />
    <img src="assets/img/4.svg" class="img4" />
    <img src="assets/img/5.svg" class="img5" />
    <img src="assets/img/6.svg" class="img6" />
    <img src="assets/img/3.svg" class="img7" />
    <img src="assets/img/2.svg" class="img8" />
    <img src="assets/img/3.svg" class="img9" />
  </div>
  <div class="row second">
    <div class="col-md-12 text-containter">
      <h3>Recipe Table Details</h3>
      <p>You can check all details</p>
    </div>
  </div>
  <div class="row third">
    <table class="table">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Image</th>
          <th>Price</th>
          <th>Description</th>
          <th>Discount</th>
          <th>Category</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-template #noData>
          <tr>
            <td colspan="2" class="text-center p-0 pb-2 pt-5">
              <img src="assets/img/no-data.svg" alt="No Data" />
            </td>
          </tr>
          <tr>
            <td colspan="2" class="text-center p-3">No Data!</td>
          </tr>
        </ng-template>
        <!-- <ng-container *ngIf="recipeName.length > 0; else noData"> -->
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>mdo</td>
          <td>mdo</td>
          <td>mdo</td>
          <td><i class="fa-solid fa-ellipsis"></i></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Jacob</td>
          <td>Tdornton</td>
          <td>fat</td>
          <td>fat</td>
          <td><i class="fa-solid fa-ellipsis"></i></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry the Bird</td>
          <td>twitter</td>
          <td>Larry the Bird</td>
          <td>Larry the Bird</td>
          <td>Larry the Bird</td>
          <td><i class="fa-solid fa-ellipsis"></i></td>
        </tr>
        <!-- </ng-container> -->
      </tbody>
    </table>
  </div>
  <button (click)="recipe()">click</button>
</section>
