<section class="container-fluid">
  <div class="row radius-16 first px-5 my-4">
    <div class="col-md-12 d-flex justify-content-between align-items-center">
      <div class="col-md-6 text-containter">
        <h1><span class="animated-text"> Favourite Recipes </span>List!</h1>
        <p>
          You can now add your items that any user can order it from the
          Application and you can edit
        </p>
      </div>
      <div class="image-container">
        <img src="assets/img/eating2.svg" alt="" />
      </div>
    </div>
  </div>
  <div class="circles position-absolute">
    <img src="assets/img/1.svg" class="img1" />
    <img src="assets/img/2.svg" class="img2" />
    <img src="assets/img/3.svg" class="img3" />
    <img src="assets/img/4.svg" class="img4" />
    <img src="assets/img/5.svg" class="img5" />
    <img src="assets/img/6.svg" class="img6" />
    <img src="assets/img/3.svg" class="img7" />
    <img src="assets/img/2.svg" class="img8" />
    <img src="assets/img/3.svg" class="img9" />
  </div>
  <div
    class="row px-5 second d-flex justify-content-between radius-16 align-items-center"
  >
    <div class="col-md-12 text-containter">
      <h3>Fill the <span class="green-text">Recipes! </span></h3>
      <p>
        You can now fill the meals easily using the table and form, click here
        and sill it with the table
      </p>
    </div>
  </div>
</section>
