<div class="container-fluid">
  <div class="row h-100 align-items-center">
    <div class="col-md-7">
      <div class="search-wrapper">
        <span><i class="fa-solid fa-magnifying-glass"></i></span>
        <input placeholder="Search Here..." type="text" />
      </div>
    </div>
    <div class="col-md-5">
      <div class="info-wrapper">
        <span><img src="" alt="" /></span>
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown button
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
