<nav class="radius-16 px-4">
  <div class="row h-100 align-items-center">
    <div class="col-md-7">
      <div class="search-wrapper">
        <span><i class="fa-solid fa-magnifying-glass"></i></span>
        <input class="radius-8" placeholder="Search Here..." type="text" />
      </div>
    </div>
    <div class="col-md-5">
      <div
        class="info-wrapper pe-3 d-flex justify-content-end align-items-center column-gap-3"
      >
        <span><img [src]="imagePath" alt="avatar" /></span>
        <span>{{ userName }}</span>
        <div class="dropdown">
          <a
            class="btn dropdown-toggle border-0"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          ></a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/dashboard/profile"
                ><span><i class="fa-solid fa-user"></i></span> Profile</a
              >
            </li>
            <li (click)="openChangePasswordDialog()">
              <a class="dropdown-item" routerLink="/dashboard/profile"
                ><span><i class="fa-solid fa-lock"></i></span> Change
                password</a
              >
            </li>
            <li (click)="logout()">
              <a class="dropdown-item">
                <span><i class="fa-solid fa-right-from-bracket"></i></span>
                Logout</a
              >
            </li>
          </ul>
        </div>
        <span><i class="fa-solid fa-bell fa-lg"></i></span>
      </div>
    </div>
  </div>
</nav>
