@mixin bd-overlay {
  background: linear-gradient(
      51.22deg,
      rgba(47, 140, 96, 0.63) -22.39%,
      rgba(0, 0, 0, 0.6237) 61.76%
    ),
    url("../../assets/img/bg-login.png") center center / cover no-repeat;
}
@mixin form-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
