// Colors //
$primary-grey: #494949;
$secondary-grey: rgba(73, 73, 73, 0.6);
$light-grey: rgba(131, 145, 161, 1);
$dark-grey2: #3a3a3d;

$color-white: #ffffff;
$color-black: #000000;
$color-black2: rgba(0, 0, 0, 0.2);

$color-green: #4aa35a;
