// Colors //
$primary-grey: #494949;
$secondary-grey: #49494999;
$light-grey: #8391a1;
$dark-grey: #3a3a3d;

$color-white: #ffffff;
$color-black: #000000;
$color-black2: #00000033;

$color-green1: #4aa35a;
$color-green2: #009247;
