// Colors //
$primary-grey: #494949;
$secondary-grey: #49494999;
$light-grey: #8391a1;
$dark-grey: #3a3a3d;
$color-white: #ffffff;
$color-black: #000000;
$color-black2: #00000033;

$color-green1: #4aa35a;
$color-green2: #009247;
$color-green3: #00924d1a;
$error-text-color: #d9534f;

$sidebar-bg: #1f263e;
$sidebar-text-col: #8c8f9c;

$navbar-bg: #f8f9fa;
$navbar-text-col: #2f313f;
$navbar-noti-col: #ec5252;
