@import "../../../../assets/sass/components/button";
@import "../../../../assets/sass/abstract/variables";
@import "../../../../assets/sass/base/utilities";
@import "../../../../assets/sass/abstract/mixins";
@import "../../../../assets/sass/base/typography";
@import "../../../../assets/sass/components/form";
.container-fluid {
  position: relative;
  .overlay {
    @include overlay;
    background: linear-gradient(
        51.22deg,
        rgba(47, 140, 96, 0.63) -22.39%,
        rgba(0, 0, 0, 0.6237) 61.76%
      ),
      url("../../../../assets/img/login.svg") center center / cover no-repeat;
  }
  .col-md-6 {
    z-index: 2;
    background-color: $color-white;
    height: 85%;
    .resetReq-form,
    .form {
      height: fit-content;
    }
  }
}
