@import "../../../assets/sass/abstract/variables";
section {
  height: 100%;
  background-color: $sidebar-bg;
  border-top-right-radius: 65px;
  ul {
    list-style: none;
    li {
      position: relative;
      line-height: 2.4rem;
      a {
        text-decoration: none;
        color: $sidebar-text-col;
        display: block;
        font-size: 13px;
        font-weight: 500;
        &.active,
        &:hover {
          color: $color-white;
          background-color: $color-green3;

          &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 4px;
            background-color: $color-green2;
            top: 0;
            left: 0;
          }
        }
        i {
          color: $color-white;
        }
      }
    }
  }
}
