<section>
  <div class="h-75 d-flex flex-column justify-content-evenly">
    <div><img src="assets/img/sidebar.svg" alt="" /></div>
    <ul class="p-0 d-flex flex-column">
      <ng-container *ngFor="let menu of menu">
        <li *ngIf="menu.isActive">
          <a class="px-3" [routerLink]="menu.link" routerLinkActive="active"
            ><span><i [class]="menu.icon" class="me-2"></i></span>
            {{ menu.text }}</a
          >
        </li>
      </ng-container>
    </ul>
  </div>
</section>
