<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-5">
      <span routerLink="/dashboard/home"
        ><img src="assets/img/Group.svg" alt="logo"
      /></span>
      <div class="text-container">
        <h1><span class="oops">Oops.</span><br /></h1>
        <h2>...</h2>
        <p class="green-text">Page Not Found</p>
        <p class="paragraph">
          This Page doesn't exist or was removed! We suggest you back to home.
        </p>
      </div>
      <button
        routerLink="/dashboard/home"
        type="button"
        class="light-green-btn"
      >
        <span><i class="fa-solid fa-arrow-left"></i></span>
        <span>Back To Home </span>
      </button>
    </div>
  </div>
</div>
