@import "../../../../assets/sass/abstract/variables";
@import "../../../../assets/sass/components/button";
@import "../../../../assets/sass/base/typography";
.container-fluid {
  height: 100%;
  background-image: url("../../../../assets/img/not-found-bg.svg");
  background-repeat: no-repeat;
  background-size: 70rem;
  background-position: right;
  .row {
    height: inherit;
    background-image: url("../../../../assets/img/not-found.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    .col-12 {
      display: flex;
      flex-direction: column;
      height: 80%;
      width: 33%;
      justify-content: space-evenly;
      .text-container {
        position: relative;
        h1,
        h2 {
          font-weight: 700;
          font-size: 40px;
          color: $sidebar-bg;
          line-height: 48.41px;
        }
        .green-text {
          color: $color-green2;
          position: absolute;
          left: 0;
          top: 63px;
          font-size: 32px;
          font-weight: 400;
          margin: 0;
        }
        .paragraph {
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.04em;
          color: $sidebar-bg;
        }
      }
      button {
        background-color: $color-green2;
        height: 60px;
        width: 80%;
        padding: 0 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-size: 16px;
          font-weight: 700;
          line-height: 19.36px;
        }
        &:hover {
          background-color: $color-green1;
          color: $color-white;
          box-shadow: 1px 1px 5px 1px $color-black;
        }
      }
    }
  }
}
