@import "../abstract/variables";
.form {
  width: 100%;
  padding: 2rem 4rem;
  flex-direction: column;
  &__group {
    .input-group {
      padding: 1rem;
      position: relative;
      .input-group-text {
        border: none;
      }
      input {
        color: $color-black;
        font-size: 15px;
        font-weight: 500;
        line-height: 18.75px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        background-color: #f8f9fa;
        border: none;
        padding: 0.75rem;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          height: 80%;
          width: 1px;
          background-color: $light-grey;
          top: 10%;
          left: 0;
        }
        &::placeholder {
          color: $light-grey;
          text-transform: capitalize;
        }
        &:focus,
        &:active {
          box-shadow: 2px 1px 1px rgba(131, 145, 161, 0.7),
            0px 1px 0px rgba(0, 0, 0, 0.3);
          border-color: $light-grey;
        }
      }

      .eye-icon {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        cursor: pointer;
      }
    }
  }
}
