.table {
  --bs-table-bg: transparent;

  & > :not(caption) > * > * {
    border: none;
  }

  thead {
    background-color: $table-bg;
    tr {
      & > :first-child {
        padding-left: 1.5rem;
        border-radius: 15px 0 0 15px;
      }
      & > :last-child {
        border-radius: 0 15px 15px 0;
      }
      th {
        padding: 2rem 1rem;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        color: $sidebar-bg;
      }
    }
  }
  tbody {
    // tr:nth-child(even) {
    //   background-color: $table-bg2;
    // }
    tr {
      td {
        padding: 1.3rem;
      }
    }
  }
}
