// @import "../../assets/sass/abstract/mixins ";
.col-1,
.col-2,
.col-10,
.col-11 {
  transition: width 0.3s ease;
}
.col-10,
.col-11 {
  margin-inline-start: auto;
}
.col-11 {
  width: 91%;
}
.col-10 {
  width: 83%;
}
