@import "../../../assets/sass/abstract/variables";
@import "../../../assets/sass/base/utilities";
@import "../../../assets/sass/base/typography";
@import "../../../assets/sass/components/button";
section {
  position: relative;
  .first {
    height: 20rem;
    background-color: $color-green2;
    .text-containter {
      color: $color-white;
      font-family: Roboto;
      z-index: 10;
      h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 46.88px;
        span {
          font-family: Roboto;
          font-size: 32px;
          font-weight: 400;
          line-height: 37.5px;
          text-decoration: underline;
          text-transform: capitalize;
        }
        .animated-text {
          font-size: 40px;
          font-weight: 700;
          color: $color-white;

          .letter {
            opacity: 0;
            transform: translateY(20px);
            animation: fadeInUp 1s ease-in-out forwards;
          }
        }
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.04em;
      }
    }
    .image-container {
      position: absolute;
      animation: float 3s infinite ease-in-out;
      top: 34%;
      right: 3%;
      z-index: 10;
    }
  }
  .circles {
    width: 100%;
    top: 0;
    left: 0;
    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6,
    .img7,
    .img8,
    .img9 {
      position: absolute;
    }
    .img1,
    .img3,
    .img5,
    .img7,
    .img9 {
      animation: clockwise-spin 10s infinite linear;
    }

    .img2,
    .img4,
    .img6,
    .img8 {
      animation: counterclockwise-spin 10s infinite linear;
    }
    .img1 {
      bottom: 2.5rem;
      left: 2rem;
    }
    .img2 {
      top: 15%;
      left: 11.5rem;
    }
    .img3 {
      left: 48%;
      top: 1rem;
      transform: translateX(-50%);
    }
    .img4 {
      bottom: 6.5rem;
      left: 32%;
      transform: translateX(-50%);
    }
    .img5 {
      right: 35%;
      top: 50%;
      transform: translateY(-50%);
    }
    .img6 {
      right: 20%;
      top: 3.5rem;
    }
    .img7 {
      bottom: 2.5rem;
      right: 3rem;
    }
    .img8 {
      top: 15%;
      left: 38%;
    }
    .img9 {
      top: 20%;
      left: 20%;
    }
  }
  .second {
    background-color: $light-green;
    height: 9.5rem;
    .col-md-6 {
      .green-text {
        font-size: inherit;
      }
    }
    .col-md-3 {
      height: 3rem;
      button {
        background-color: $color-green2;
        &:hover {
          background-color: $color-green1;
          color: $color-white;
          box-shadow: 1px 1px 5px 0px $color-black;
        }
      }
    }
  }
  @keyframes float {
    0% {
      transform: translate(-10%, -50%) translateY(0);
    }
    50% {
      transform: translate(-10%, -50%) translateY(-10px);
    }
    100% {
      transform: translate(-10%, -50%) translateY(0);
    }
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    50% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Circular clockwise animation */
  @keyframes clockwise-spin {
    0% {
      transform: rotate(0deg) translate(50px) rotate(0deg);
    }
    25% {
      transform: rotate(90deg) translate(50px) rotate(-90deg);
    }
    50% {
      transform: rotate(180deg) translate(50px) rotate(-180deg);
    }
    75% {
      transform: rotate(270deg) translate(50px) rotate(-270deg);
    }
    100% {
      transform: rotate(360deg) translate(50px) rotate(-360deg);
    }
  }

  /* Circular counterclockwise animation */
  @keyframes counterclockwise-spin {
    0% {
      transform: rotate(0deg) translate(50px) rotate(0deg);
    }
    25% {
      transform: rotate(-90deg) translate(50px) rotate(90deg);
    }
    50% {
      transform: rotate(-180deg) translate(50px) rotate(180deg);
    }
    75% {
      transform: rotate(-270deg) translate(50px) rotate(270deg);
    }
    100% {
      transform: rotate(-360deg) translate(50px) rotate(360deg);
    }
  }
}
