@import "../../../assets/sass/components/animated-box";
section {
  .second {
    background-color: $light-green;
    height: 9.5rem;
    .col-md-6 {
      .green-text {
        font-size: inherit;
      }
    }
    .col-md-3 {
      height: 3rem;
      button {
        background-color: $color-green2;
        &:hover {
          background-color: $color-green1;
          box-shadow: 1px 1px 5px 0px $color-black;
        }
      }
    }
  }
}
